{% extends "layout.html" %}
{% block content %}
    <h1>Affluences</h1>
    <p>
        <form class="my-2 my-lg-0" method="GET" action="searchAffluences"> 
            <div class="form-group">
              <label for="annee">Selectionnez une Année</label>
              <select class="form-control" id="annee" name="annee">
                {% for data in data %}
                <option>{{ data.fields.annee}}</option>
                {% endfor %}
              </select>
              
            </div>
            <button class="btn btn-outline-primary " type="submit">Search</button>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
    </p>
    <div class="row row-cols-1 row-cols-md-3">
        {% for data in datas %}
            <div class="col mb-1">
                <div class="card text-white bg-dark " >
                    <div class="card-body">
                    <h5 class="card-title">{{ data.fields.annee}}</h5>
                    <p><b>Nombre d'entrées en millions :</b> {{ data.fields.entrees_millions }}</p>
                    <a href="{{url_for('details',annee= data.fields.annee)}}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}